$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$Accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$basic-white: #FFFFFF;
$gradient-regular: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
$gradient-super-soft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-Text-Red-Reversed: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  list-style-type: none;
}
h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h3-caps {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: $active-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

a:hover {
  color: $Accent;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $basic-white;
  background: $gradient-super-soft;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @media (min-width: 1920px) {
    max-width: 1600px;
    margin: 0 auto;
  }
}

button {
  background: $active-regular;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: $basic-white;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  background: $active-hover;
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}
button:active {
  box-shadow: none;
  background: $active-active;
}
