@import "base";
body {
  background: $grey-bg;
}
.sec-1 {
  position: relative;
  height: 100vh;

  .symbol {
    img {
      z-index: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      height: 100vh;
    }
  }

  .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn-scroll {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      &:hover {
        stroke: $Accent;
      }
    }

  }
}

.sec-2 {
  a {
    color: $grey-text;
    font-weight: 700;
    font-size: 30px;

    &:active {
      background: $gradient-Text-Red-Reversed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 19px;
    line-height: 30px;
  }
}


.tabs {
  display: flex;
  padding: 0 30px;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 30px;

  ul {
    display: flex;
    width: 100%;
    overflow-x: scroll;

    li {
      width: 100%;
      border-bottom: 4px solid grey;
      padding: 30px 30px 30px 0;
      transition: all 0.5s;


      &.ui-tabs-active {
        border-color: $Accent;
        background: $gradient-Text-Red-Reversed;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .content-tabs {
    width: 100%;

    h2 {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) {
  .sec-2 a {
    font-size: 38px;
  }
  .tabs {
    padding: 0 60px;
    margin-bottom: 60px;
    gap: 60px;

    ul {
      li {
        padding: 60px 30px 60px 0;
      }
    }

    .content-tabs h2 {
      font-size: 30px;
    }
  }
}


@media (min-width: 1024px) {
  .tabs {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;

    ul {
      flex-direction: column;
      width: 55%;
      text-align: right;
      overflow: auto;

      li {
        padding: 15px 60px 15px 0;
        border-bottom: none;
        border-right: 4px solid grey;
      }
    }

    .content-tabs {
      width: 50%;
    }
  }

}

@media (min-width: 1440px) {
  .tabs {
    ul {
      width: 45%;
    }

    .content-tabs {
      width: 69.5%;
    }
  }
}

.sec-4 {
  background: $grey-bg;
  padding: 30px;
}


.slider {
  width: 100%;


  h1 {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flex-slide {
    display: flex;
    flex-direction: column;

    .link-services {
      background: $grey-bg-alt;
      border-radius: 0 0 12px 12px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;

      a:hover {
        svg {
          stroke: $Accent;
        }
      }

      .h3-caps {
        display: flex;
        align-items: center;
        gap: 2px;
      }


      h1 {
        font-size: 18px;
        @media (min-width: 375px) {
          font-size: 24px;
        }
        @media (min-width: 600px) {
          font-size: 30px;
        }
      }
    }
  }

  h4 {
    color: $grey-text;
  }

  p {
    color: $grey-text;
    font-size: 14px;
  }
}

.slick-slide {
  margin: 0 10px;
}

.slick-dots {
  bottom: -50px;

  &:hover {
    color: $active-active;
    opacity: 0.6;
  }

  li {
    &.slick-active button:before {
      color: $active-regular;

    }
    button {
      box-shadow: none;
    }
    button:before {
      font-size: 16px;
      box-shadow: none;
    }
  }
}

.slide-1, .slide-2, .slide-3 {
  img {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @media (min-width: 1024px) {
      border-radius: 12px 0 0 12px;
      max-width: 45.3%;
    }
    @media (min-width: 1920px) {
      max-width: 25.3%;
    }
    @media (min-width: 1440px) {
      max-width: 30.30%;
    }
  }
}

@media (min-width: 768px) {
  .sec-4 {
    padding: 60px;
  }
  .slider .flex-slide .link-services h1 {
    font-size: 38px;
  }
}

@media (min-width: 1024px) {
  .slider {
    .flex-slide {
      flex-direction: row;
      height: 528px;

      .link-services {
        height: 100%;
        max-width: 100%;
        border-radius: 0 12px 12px 0;
      }
    }
  }
}

@media (min-width: 1440px) {
  .slider {
    .flex-slide {
      height: 344px;
    }
  }
}

@media (min-width: 1920px) {
  .sec-4 {
    padding: 60px 160px 60px 160px
  }
  .slider {
    .flex-slide {
      height: 298px;
    }
  }
}


footer {
  background: $grey-bg;
}

.services-content {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}







