@import "../base";


@media (min-width: 768px) {
  .flex-header {
    margin-bottom: 60px;
  }
}

.header-links-2, .header-links {
  a {
    color: $active-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
  }
}

.flex-name {
  p {
    font-size: 20px;
    color: $main-regular;
  }
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  p {
    color: $main-regular;
    font-size: 36px;
  }
}

.contacts {
  background: $grey-bg;

  span:not(:last-child) {
    color: $grey-text;
  }
}

.header-top {
  .tel {
    color: $grey-text;
  }

  span {
    color: $grey-text;

    &:nth-child(3) {
      color: $basic-white;
    }
  }

  svg:last-child {
    fill: $grey-text;
  }
}

.sec-1 {
  padding: 30px;
  @media (min-width: 768px) {
    padding: 60px;
  }
  @media (min-width: 1920px) {
    padding: 60px 280px;
  }

  h2 {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: 768px) {
      font-size: 38px;
    }
  }

  h1 {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 19px;
    color: #000000;
    line-height: 30px;
  }
}

.flex-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.flex-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  @media (min-width: 1024px) {
    width: 93%;
  }
}

.flex-items {
  padding-left: 30px;
  border-left: 4px solid $grey-separator;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .small-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.sec-2 {
  position: relative;
  background: url("../images/Team-375.jpg") center center / cover no-repeat;
  min-height: 114px;
  height: 100%;
  width: 100%;
  @media (min-width: 600px) {
    background: url("../images/Team-768.jpg") center center / cover no-repeat;
    min-height: 233px;
  }
  @media (min-width: 820px) {
    background: url("../images/Team-1024.jpg") center center / cover no-repeat;
    min-height: 311px;
  }
  @media (min-width: 1280px) {
    background: url("../images/Team-1440.jpg") center center / cover no-repeat;
    min-height: 438px;
  }
  @media (min-width: 1600px) {
    background: url("../images/Team-1920.jpg") center center / cover no-repeat;
    min-height: 584px;
  }

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.80);
    letter-spacing: 13px;
    text-transform: uppercase;
    text-align: center;
  }
}

.sec-3 {
  padding: 30px 30px 60px 30px;
  @media (min-width: 768px) {
    padding: 60px;
  }
  @media (min-width: 1920px) {
    padding: 60px 280px;
  }
}

.team-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 60px;
    width: 100%;
    .rc {
      width: 43%;
    }
    .lc {
      width: 57%;
    }
  }
  @media (min-width: 1920px) {
    .rc {
      width: 28%;
    }
    .lc {
      width: 72%;
    }
  }

  p {
    color: #000000;
    font-size: 19px;
    line-height: 30px;
  }

  h2 {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: 768px) {
      font-size: 38px;
    }
  }
}


.sec-4 {
  background: $grey-bg;
  padding: 30px 60px;
  @media (min-width: 1920px) {
    padding: 30px 160px;
  }

  h3 {
    color: $main-regular;
    text-align: center;
    margin-bottom: 30px;
  }
}

.slider, .slider-2 {
  width: 100%;
}


.slide {
  width: 100%;
  img {
    width: 100%;
    background: $basic-white;
    border-radius: 12px;
    height: 90px;
    @media (min-width: 1024px) {
      height: 110px;
    }
  }
}

.slide-1 {
  img {
    padding: 24.4px 101px 25.6px 101px;
    @media (min-width: 768px) {
      padding: 24.4px 39.667px 25.6px 39px;
    }
    @media (min-width: 1024px) {
      padding: 25px 58px;
    }
    @media (min-width: 1440px) {
      padding: 25px 110px;
    }
    @media (min-width: 1920px) {
      padding: 25px 145px;
    }
  }
}

.slide-2 {
  img {
    padding: 24.4px 35px 25.6px 35px;

    @media (min-width: 768px) {
      padding: 24.4px 13px 25.6px 13px;
    }
    @media (min-width: 1024px) {
      padding: 25px 18px 25px 19px;
    }
    @media (min-width: 1440px) {
      padding: 25px 70px 25px 71px;
    }
    @media (min-width: 1920px) {
      padding: 25px 105px 25px 106px;
    }
  }
}

.slide-3 {
  img {
    padding: 24.4px 30px 25.6px 30px;
    @media (min-width: 768px) {
      padding: 24.4px 1px 25.6px 1px;
    }
    @media (min-width: 1024px) {
      padding: 25px 0 25px 1px;
    }
    @media (min-width: 1440px) {
      padding: 25px 52px 25px 53px;
    }
    @media (min-width: 1920px) {
      padding: 25px 87px 25px 88px;
    }
  }
}

.slide-4 {
  img {
    padding: 24.4px 35px 25.6px 35px;
    @media (min-width: 768px) {
      padding: 24.4px 10.333px 25.6px 11px;
    }
    @media (min-width: 1024px) {
      padding: 25px 15px;
    }
    @media (min-width: 1440px) {
      padding: 25px 67px;
    }
    @media (min-width: 1920px) {
      padding: 25px 102px;
    }
  }
}

.slick-slide {
  margin: 0 20px;
}

.slider {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
@media (min-width: 768px) {
  .slider-2 {
    display: none;
  }
}

.slick-dots {
  bottom: -50px;
  &:hover {
    color: $active-active;
    opacity: 0.6;
  }

  li {
    &.slick-active button:before {
      color: $active-regular;

    }

    button {
      box-shadow: none;
    }

    button:before {
      font-size: 16px;
      box-shadow: none;
    }
  }
}

footer {
  background: $grey-bg;
}

.header-links, .header-links-2 {
  a {
    border-bottom: 2px solid $basic-white;

    &:hover {
      border-bottom: 2px solid $Accent;
    }
  }
}