* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  list-style-type: none;
}

h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h3-caps {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #24A3FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

a:hover {
  color: #F0145A;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
  color: #FFFFFF;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

button {
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  background: #0085FF;
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}

button:active {
  box-shadow: none;
  background: #006CCF;
}

body {
  background: #FFFFFF;
}

.flex-header {
  margin-bottom: 0;
}

.header-links-2 a, .header-links a {
  color: #24A3FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.flex-name p {
  font-size: 20px;
  color: #323264;
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.flex-name-2 p {
  color: #323264;
  font-size: 36px;
}

.contacts {
  background: #F5F5FA;
}
.contacts span:not(:last-child) {
  color: #B3B3BA;
}

.header-top .tel {
  color: #B3B3BA;
}
.header-top span {
  color: #B3B3BA;
}
.header-top span:nth-child(3) {
  color: #FFFFFF;
}
.header-top svg:last-child {
  fill: #B3B3BA;
}

.sec-1 {
  padding: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lc .flex-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.lc .flex-1 a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}
.lc .flex-1 a svg:hover {
  fill: #F0145A;
}
.lc .flex-1 .our-page {
  display: flex;
  flex-direction: column;
}
.lc .contact-1 {
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
}
.lc .contact-1 h3 {
  color: #323264;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
.lc .contact-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
}
.lc .contact-2 #tel {
  color: #323264;
}
.lc .contact-2 #tel:hover {
  color: #F0145A;
}

textarea {
  resize: none;
  width: 100%;
  max-height: 130px;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 648px;
  width: 100%;
  background: #F5F5FA;
  border-radius: 12px;
  padding: 30px;
}
.contact-form h2 {
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form .btn {
  max-width: 100%;
}
.contact-form .flex-center {
  justify-content: center;
}
.contact-form .h3-caps {
  margin-bottom: 10px;
  color: #B3B3BA;
}
.contact-form .input {
  background: #FFFFFF;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  line-height: 26px;
  padding: 11px 10px 10px;
  color: #000000;
}
.contact-form .input::placeholder {
  color: #B3B3BA;
}
.contact-form .form-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .sec-1 {
    padding: 60px;
  }
  .flex {
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .flex {
    flex-direction: row;
    width: 100%;
  }
  .lc {
    width: 50%;
  }
  .contact-form {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .sec-1 {
    padding: 60px 280px;
  }
}
footer {
  background: #F5F5FA;
}

.footer-flex {
  border-top: none;
}

@media (min-width: 1440px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.header-links a, .header-links-2 a {
  border-bottom: 2px solid #FFFFFF;
}
.header-links a:hover, .header-links-2 a:hover {
  border-bottom: 2px solid #F0145A;
}

/*# sourceMappingURL=contact.css.map */
