@import "../base";

body {
  background: $basic-white;
}

.flex-header {
  margin-bottom: 60px;
}
.header-mobile {
  margin-bottom: 30px;
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  @media (min-width: 768px) {
    p {
      font-size: 36px;
    }
  }
}

.sec-1 {
  padding: 0 30px;
  @media (min-width: 768px) {
    padding: 0 60px;
  }
  @media (min-width: 1440px) {
    padding: 0 180px;
  }
  @media (min-width: 1920px) {
    padding: 0 280px;
  }
  p {
    color: $grey-text;
    font-size: 18px;
  }
}

.flex-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  text-align: center;
  padding-bottom: 34px;
  border-bottom: 4px solid $grey-separator;
  @media (min-width: 768px) {
    padding-bottom: 64px;
  }
  img {
    background: $basic-white;
    max-width: 92px;
    max-height: 92px;
    padding: 14px;
    border-radius: 24px;
  }
  h2 {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sec-2 {
  padding: 30px 30px 0 30px;
  @media (min-width: 768px) {
    padding: 30px 60px 0 60px;
  }
  @media (min-width: 1440px) {
    padding: 30px 180px 0 180px;
  }
  @media (min-width: 1920px) {
    padding: 30px 280px 0 280px;
  }
  p {
    color: $grey-text;
    font-size: 18px;
  }
}

.flex-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 60px;
    width: 100%;
  }
}

.flex-sec-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lc, .rc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (min-width: 768px) {
    width: 50%;
  }
}

.flex-li {
  display: flex;
  flex-direction: row;
  gap: 8px;
  svg {
    min-width: 6px;
  }
}

footer {
  background: $grey-bg;
}

.footer-flex {
  border-top: none;
}
.services-content {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.header-links, .header-links-2 {
  a {
    &:nth-child(2) {
      color: $Accent;
      border-bottom: 2px solid $Accent;
    }
    &:hover {
      border-bottom: 2px solid $Accent;
    }
  }
}