@import "../base";

body {
  background: $basic-white;
}

.flex-header {
  margin-bottom: 60px;
}
.header-mobile {
  margin-bottom: 30px;
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  @media (min-width: 768px) {
    p {
      font-size: 36px;
    }
  }
}

footer {
  background: $grey-bg;
}

.footer-flex {
  border-top: none;
}
.services-content {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.header-links, .header-links-2 {
  a {
    &:nth-child(2) {
      color: $Accent;
      border-bottom: 2px solid $Accent;
    }
    &:hover {
      border-bottom: 2px solid $Accent;
    }
  }
}