@import "../base";

body {
  background: $basic-white;
}

.flex-header {
  margin-bottom: 60px;
}
.header-mobile {
  margin-bottom: 30px;
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  @media (min-width: 768px) {
    p {
      font-size: 36px;
    }
  }
}

.sec-1 {
  padding: 0 30px 34px 30px ;
  border-bottom: 4px solid $grey-separator;
}

.flex-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  text-align: center;
  img {
    background: $basic-white;
    max-width: 92px;
    max-height: 92px;
    padding: 14px;
    border-radius: 24px;
  }
}

footer {
  background: $grey-bg;
}

.footer-flex {
  border-top: none;
}
.services-content {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.header-links, .header-links-2 {
  a {
    &:nth-child(2) {
      color: $Accent;
      border-bottom: 2px solid $Accent;
    }
    &:hover {
      border-bottom: 2px solid $Accent;
    }
  }
}