@import "../base";

body {
  background: $basic-white;
}
.flex-header {
  margin-bottom: 0;
}
.header-links-2, .header-links {
  a {
    color: $active-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
  }
}

.flex-name {
  p {
    font-size: 20px;
    color: $main-regular;
  }
}

.flex-name-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  p {
    color: $main-regular;
    font-size: 36px;
  }
}

.contacts {
  background: $grey-bg;
  span:not(:last-child){
    color: $grey-text;
  }
}

.header-top {
  .tel{
    color: $grey-text;
  }
  span{
    color: $grey-text;
    &:nth-child(3) {
      color: $basic-white;
    }
  }
  svg:last-child {
    fill: $grey-text;
  }
}



.sec-1 {
  padding: 30px;
  @media (min-width: 768px) {
    padding: 60px;
  }
  @media (min-width: 1920px) {
    padding: 60px 160px;
    .content-center {
      padding: 0;
    }
  }

  @media (min-width: 1024px) {
    .content-center {
      padding: 0 120px;
    }
  }

  h1 {
    font-size: 30px;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 60px;
    }
  }

  h4 {
    color: $main-regular;

    &:hover {
      color: $Accent;
    }
  }

  p {
    color: $grey-text;
    font-size: 14px;
    line-height: 22px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

svg:hover {
  fill: $grey-bg-alt;
  stroke: $Accent;
}

.grid-team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 60px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  }

  img {
    border-radius: 12px;
    object-fit: cover;
    height: 300px;
    @media (min-width: 768px) {
      height: 400px;
    }
  }
}

footer {
  background: $grey-bg;
}

.footer-flex {
  border-top: none;
}
